<ion-nav [root]="rootPage" *ngIf="isAuthenticated"></ion-nav>

<ion-header *ngIf="!isAuthenticated">
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="!isAuthenticated">
  <form (submit)="login()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input name="email" type="text" value="" ngControl="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input name="password" type="password" ngControl="password" [(ngModel)]="password"></ion-input>
      </ion-item>

    </ion-list>
    <div padding>
      <button ion-button color="primary" block type="submit">Sign In</button>
    </div>
  </form>
</ion-content>
